* {
    margin: 0;
    padding: 0;
    font-family: "Dancing Scrip",  cursive;
  }

  .ima {
    display: block;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Centrar horizontalmente la imagen */
}

.ima img {
    width: 100%; /* Establecer el ancho de la imagen al 100% del contenedor */
    height: auto; /* Permitir que la altura se ajuste proporcionalmente */
}


  body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/Fondo1\ \(2\).jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen */
}

header {
    padding: 20px;
    text-align: center;
    color: rgb(30, 58, 83);

    
}

header img{
    height: auto; 
    image-orientation: left;
}

main {
    padding: 20px;
    text-align: center;
    color: rgb(30, 58, 83);
    font-size: 20px;
    
}

main img {
    width: 200px; /* Cambia el tamaño de la imagen según lo necesites */
    height: auto; /* Mantiene la proporción de aspecto */
    image-orientation:flip
}


footer {
    padding: 20px;
    text-align: center;
    color: rgb(30, 58, 83);

}

footer img {
    width: 100px; /* Cambia el tamaño de la imagen según lo necesites */
    height: auto; /* Mantiene la proporción de aspecto */
    image-orientation: left;
}

.container {
    /* Estilos para tu contenido */
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para que el texto sea legible */
}


.car {
    width: 90%; 
    max-width: 600px; 
    margin-top: 50px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px; 
  }
  
  
  .car img {
    max-width: 80%; 
    height: auto; 
    display: block;
    margin: 0 auto; 
  }
  

  .regresivaa {
    text-align: center; /* Para centrar el texto */
    font-size: 3em;; /* Tamaño de fuente grande */
    background-image: url('../assets/plim10.webp');
    background-size:0cqmax;
    background-position: center; /* Centra la imagen */
}

.regresiva {
    display: flex; /* Activa flexbox */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Centra el texto dentro del contenedor */
    font-size: 2em; /* Tamaño de fuente grande */
   
    
    margin: 20px auto; /* Añade margen automático y un margen superior */
    position: relative; /* Ajusta la posición para que se mantenga en el flujo del documento */
    top: 0; /* Ajusta para estar en la parte superior */
    right: 0;
    left: 0;
}